<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      enki's mission is to:
      	<ul>
      		<li>provide a web and mobile-based platform to facilitate intercultural exchanges and language acquisition for millions of people world-wide</li>
      		<li>eliminate one of the key barriers to learning a language – the lack of another person with whom to practice</li>
      		<li>make the world a better place by increasing connections between people of different nationalities, cultures and walks of life in a socially responsible manner</li>
      	</ul>



    </p>
